.bible-reference {
  position: relative;
  cursor: pointer;
  text-decoration: underline; /* Gives the impression of a link */
  color: #007bff; /* Link color */
}

.bible-reference .popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  width: 250px;
  font-size: 0.9em;
}

.bible-reference:hover .popup {
  display: block;
}
