<div>
  <select id="book-select">
    {% for id,book in books %}
      <option value="{{ id }}" {{ id == current_book ? 'selected' }}>{{ book }}</option>
    {% endfor %}
  </select>

  <select id="version-select">
    {% for id,version in versions %}
      <option value="{{ id }}">{{ version }}</option>
    {% endfor %}
  </select>
</div>

<div>
  <a href="{{ url('bible.read', {'book': prev_book, 'chapter': 1}) }}">Previous Book</a>
  <a href="{{ url('bible.read', {'book': current_book, 'chapter': prev_chapter}) }}">Previous Chapter</a>
  <a href="{{ url('bible.read', {'book': current_book, 'chapter': 2}) }}">Next Chapter</a>
  <a href="{{ url('bible.read', {'book': next_book, 'chapter': 1}) }}">Next Book</a>
</div>

<div>
  {% for verse in verses %}
    <p>{{ verse.chapter }}:{{ verse.number }} - {{ verse.text }}</p>
  {% endfor %}
</div>
